<!-- Home container -->
<div class="container-fluid">
  <!-- Home row -->
  <div class='row'>
    <!-- Home col content -->
    <div class= 'col-xs-12 col-md-9'>
      <!-- Home col content row -->
      <div class='row mt-5'>
        <!-- Home col content col content-->
        <div class= 'col-xs-12 col-md-4'>
          <!-- Card -->
          <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <div class="rgba-pink-light white-text text-center d-flex align-items-center hm-purple-light py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Prochaine Sortie</h5>
                <h3 class="card-title pt-2"><strong>Dimanche 11 février 2018 à 8h30</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> Plus d'informations</a>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->
        </div>
        <div class= 'col-xs-12 col-md-4'>
          <!-- Card -->
          <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <div class="rgba-pink-light white-text text-center d-flex align-items-center hm-purple-light py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Prochaine Sortie</h5>
                <h3 class="card-title pt-2"><strong>Dimanche 11 février 2018 à 8h30</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> Plus d'informations</a>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->
        </div>
        <div class= 'col-xs-12 col-md-4'>
          <!-- Card -->
          <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <div class="rgba-pink-light white-text text-center d-flex align-items-center hm-purple-light py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Prochaine Sortie</h5>
                <h3 class="card-title pt-2"><strong>Dimanche 11 février 2018 à 8h30</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> Plus d'informations</a>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Home col content col content-->
      </div>
      <!-- Home col content row -->
      <div class='row mt-5'>
        <!-- Home col content col content-->
        <div class= 'col-xs-12 col-md-4'>
          <!-- Card -->
          <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <div class="rgba-pink-light white-text text-center d-flex align-items-center hm-purple-light py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Prochaine Sortie</h5>
                <h3 class="card-title pt-2"><strong>Dimanche 11 février 2018 à 8h30</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> Plus d'informations</a>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->
        </div>
        <div class= 'col-xs-12 col-md-4'>
          <!-- Card -->
          <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <div class="rgba-pink-light white-text text-center d-flex align-items-center hm-purple-light py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Prochaine Sortie</h5>
                <h3 class="card-title pt-2"><strong>Dimanche 11 février 2018 à 8h30</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> Plus d'informations</a>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->
        </div>
        <div class= 'col-xs-12 col-md-4'>
          <!-- Card -->
          <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <div class="rgba-pink-light white-text text-center d-flex align-items-center hm-purple-light py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Prochaine Sortie</h5>
                <h3 class="card-title pt-2"><strong>Dimanche 11 février 2018 à 8h30</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> Plus d'informations</a>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Home col content col content-->
      </div>
      <!-- Home col content row -->
    </div>
    <!-- Home col content -->
    <!-- Home col content left -->
    <div class= 'col-xs-12 col-md-3'>
    </div>
    <!-- Home col content left -->
  </div>
  <!-- Home row -->
</div>
<!-- Home container -->
