<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Club Cyclotouriste de Courcouronnes</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a class="nav-item nav-link" routerLink="/">Accueil</a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/actualites">Actualités</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="nav-item nav-link" routerLink="/documents">Documents</a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/photos">Photos</a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/membres">Membres</a>
      </li>
    </ul>
  </div>
</nav>
